version: "3.8"
services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bdms
      MYSQL_USER: bdmsuser
      MYSQL_PASSWORD: bdms123
    ports:
      - "3306:3306"
